# node_modules 폴더는 외부 라이브러리들이 들어있으므로 검사하지 않음
node_modules/

# 빌드된 파일들이 들어가는 dist 폴더 무시
dist/

# 로그 파일 무시
*.log

# Jest의 커버리지 리포트 폴더 무시
coverage/

# 환경 설정 파일 무시
.env

# 특정 디렉토리나 파일을 무시하고 싶다면 이렇게 명시
# 예: public 폴더 무시
public/
